{% extends 'ttyouth1/base.html' %}

{% block content %}
<title>Transforming Today's Youth</title>
<div class="roboto"><br>
{% load static %}<center>
    <img src= "{% static 'logo.png' %}" class="img-fluid">
    <a href="https://www.guidestar.org/profile/45-5018497" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=9293213&l=v4" /></a>
</center><hr />
    <div class="roboto">
     <h1 class="text-center">Mission</h1>​

<ul>
    <li>T.T.Y is committed to educating youths from all walks of life.
    </li>

<li>Central to that commitment is the belief that learning is a continuous,  expanding process that does not end when one graduates from high school or college or attains success in a career.
</li>

<li>T.T.Y supports and encourages the pursuit of intellectual and personal growth.
</li>
</ul>
    <br />


<center>***The choices you make today will shape your future for tomorrow*** <br />

                        ***College is the gateway to success***
</center>
                <hr />
    </div>
    <div class="roboto">

       <h1 class="text-center">Our Work</h1>

<ul>
    <li>Transforming Today’s Youth strives to make young adults confident and creative builders of their future.
    </li>

<li>Our focus is on the total well being of the participant intellectually, socially, emotionally, and physically, morally and spiritually.
</li>

<li>We work toward an integrated mentor ship that reaches across and discipline all age levels. The participants are encouraged to meet academic challenges with openness, enthusiasm, and a willingness to solve problems.
</li>

</ul>
    </div>  <hr />
    <div class="roboto">
        <h1 class="text-center">Mentorship Program</h1>
<ul>
   <li>T.T.Y is a 501c3 non- profit Community-Based Organization with a vision to help shape the character of youth today for tomorrow.
   </li>

<li>T.T.Y is committed to improving the ethical behavior of our youth by developing strong family ties, strong educational ties, and strong peer-to-peer interaction to achieve strong moral character.
</li>

    <li>  T.T.Y Mentor Ship Program exposes youth ages 10–18 from single-parent families to positive role models and alternative lifestyles to encourage them to remain in school and set positive goals for their adult lives.
</li>

<li>TTY is dedicated to a global educational perspective and is committed to proving a socially responsible and ethically grounded learning environment guided by a diverse group of scholars, artists and professionals. We believe in freedom of expression and creativity, and encourage both collaboration and independent thinking as we prepare future scholars, professionals and leaders for a lifetime of service and learning.
</li>

    <li>  The Higher Education program is designed to help high school youth from low-income families strengthen their chances to graduate from high school and obtain a full-time job or gain admission to college.
</li>

      <li>The program is committed to enhancing student development by encouraging growth in the areas of leadership, communication, self direction, and problem solving skills. Furthermore, the program is dedicated to facilitating meaningful interactions between mentors and mentees as they engage in various school-sponsored events. Most importantly, through this opportunity of service, mentors will be play a pivotal role in aiding students as they transition to college as well as enrich their learning experience
  </li>

    </ul>
    </div>  <hr />

    <div class="roboto">
        <h1 class="text-center">Areas Of Mentoring</h1>

 Technology...Engineering...Medical...Education...Psychology...Criminal Justice...Arts & Science
    </div>
      <hr />
</div>

    {% endblock %}